# 文件：/monitor/grafana/provisioning/datasources/datasources.yml
apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    orgId: 1
    version: 1
    jsonData:
      httpMethod: POST
      manageAlerts: false
      prometheusType: Prometheus
      prometheusVersion: 2.47.0
      timeInterval: 15s
      queryTimeout: 60s
    secureJsonData:
      httpHeaderValue1: ''
